@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.8fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar nav nav nav"
    "sidebar main main main";
  /* grid-gap: 0.2rem; */
}

.navbar {
  background: #ffffff;
  grid-area: nav;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
}

.nav_icon {
  display: none;
}

.nav_icon>i {
  font-size: 26px;
  color: #a5aaad;
}

.navbar__left {
  margin-right: 30px;
  text-decoration: none;
  color: #27496D;
  font-size: 15px;
  font-weight: 700;
}

.navbar__right {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #27496D;
}

.navbar__right>i {
  color: #F94D68;
  font-size: 14px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 2px 2px 5px #d9d9d9, -2px -2px 5px #ffffff;
  padding: 7px;
  margin-right: 5px;
}


/* THE SECTION OF THE MAIN */
main {
  background: #f3f4f6;
  grid-area: main;
  overflow-y: auto;
}

.main__container{
  background:#fff;
  width:90%;
  margin:70px auto;
}

td{
  padding:1rem 0.5rem;
  font-size:.9rem;
  color:#538575;
  text-align:center;
}


/*  SIDEBAR STARTS HERE  */

#sidebar {
  background: #fff;
  grid-area: sidebar;
  overflow-y: auto;
  padding: 10px 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sidebar__title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3f4f6;
  margin-bottom: 30px;

}

#sidebarIcon{
  color:green;
  margin-left:25px;
  cursor:pointer;
}

.sidebar__img {
  display: flex;
  align-items: center;
  height: 50px;
  width: 130px;
}

.sidebar__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sidebar__title>i {
  font-size: 18px;
  display: none;
}

.sidebar__menu{
  margin-top:50px;
}

.sidebar__link {
  color: #f3f4f6;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.active_menu_link {
  background: rgba(62, 161, 117, 0.3);
  color: #7F8E9D;
  ;
}

.active_menu_link a {
  color: #3ea175 !important;
}

.sidebar__link>a {
  text-decoration: none;
  color: #a5aaad;
  font-weight: 700;
}

.sidebar__link>i {
  margin-right: 10px;
  font-size: 18px;
  color: #7F8E9D;
}

.sidebar_responsive {
  display: inline !important;
  z-index: 9999 !important;
  left: 0 !important;
  position: absolute;
  height:100%;
  width:15rem;
  transition: all 0.5s linear ;
  transition:all 0.5s ease-in-out;
}



@media only screen and (max-width: 978px) {
  .container {
    grid-template-columns: 1fr;
    /* grid-template-rows: 0.2fr 2.2fr; */
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "nav"
      "main";
  }

  #sidebar {
    display: none;
  }

  .sidebar__title>i {
    display: inline;
  }

  .nav_icon {
    display: inline;
  }
}

@media only screen and (max-width: 855px) {
  .main__cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}


@media screen and (max-width:560px){
  /* THE SECTION OF THE MAIN */
main {
  background: #f3f4f6;
  overflow: auto;
  padding:0;
}

.main__container{
  background:#fff;
  width:150%;
/*   margin:30px 0; */
}

td{
  padding:1rem 2.5rem;

}


}


@media only screen and (max-width: 480px) {
  .navbar__left {
    display: none;
  }
}